#input {
    margin: auto;
    width: 50%;
  }
  
  .my-facebook-button-class{
   background-color: #4c69ba;
   height: 40px;
   color: white;
   border-radius: 5%;
   font-weight: 200;
   border: none;
  }
  